.main{
    background-color: rgb(156, 135, 135);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: 'Kumbh Sans';
    text-align: center;
    font-size: 3vw;
    position: relative;
    left:-30vh;
    top: 5vh;
    width:100%;
}
.title::before{
    content: '•';
    color:#1f000d;
    font-size:60px;
    position: relative;
    right: 3%;
    vertical-align: middle;
}
.circle{
    background-color: #1f000d;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: relative;
    right:-50vh;
    top:-50vh;
    z-index: 2;
}
.circle_2{
    background-color: #1f000d;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: relative;
    left:-100vh;;
    top: -116.5vh;
    z-index: 2;
}
.circle_3{
    background-color: #1f000d;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: relative;
    top:-120vh;
    right:-10vw;
}
.circle_4{
    background-color: #1f000d;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    top:10vh;
    left:10vh;
}
.circle_5 {
    background-color: #1f000d;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    top:62vh;
    right:170vh;
    z-index: 2;
}
.rectangle {
    background-color: #1f000d;
    border-radius: 0%;
    width: 35vw;
    margin-left: 70%;
    position: absolute;
    top: 0;
    height: 200vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}
.info_ttl {
    color: white;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-weight:bolder;
    font-size: 75px;
    position: absolute;
    z-index: 999;
    max-width: 70%;
    top:5%;
    right:40%;
    letter-spacing: 10px;
}
.info{
    font-style: italic;
    color: white;
    text-align:left;
    font-family: 'Kumbh Sans';
    font-size: 3vh;
    position: absolute;
    z-index: 999;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    top: 15%;
    left: 10%;
}
.rectangle img{
    position: absolute;
    top: 35%;
    left: 0%;
    translate: 35% 25%;
    z-index: 999;
    width: 70%;
    max-width: 60%;
    height: 20%;
    opacity: 0.7;
    border-radius: 5px;
    outline-width: 5px;
    outline-color: rgb(156, 135, 135);
    outline-style: solid;
}